.tic-tac-toe-board {
	--board-color: black;
	--board-border: .3rem;

	--grid-row-column-template: repeat(3, 20vmin);

	display: inline-grid;

	grid-template-rows: var(--grid-row-column-template);
	grid-template-columns: var(--grid-row-column-template);

	user-select: none;

	background-color: var(--board-color);
	border: var(--board-border) solid var(--board-color);
	gap: var(--board-border);
}

.piece {
	font-size: var(--smaller-h1-font-size);

	border: none;
	
	cursor: pointer;

	background-color: white;

	animation-duration: 500ms;
	animation-name: signPlace;
	animation-fill-mode: forwards;
}

.piece:empty {
	animation-name: none;
}

.piece.win {
	animation-name: winningPosition;
}

.piece.lose {
	animation-name: losingPosition;
}

@keyframes signPlace {
	from {
		font-size: var(--bigger-h1-font-size);
	} 
	to {
		font-size: var(--h1-font-size);
	}
}

@keyframes winningPosition {
	from {
		color: black;
		font-size: var(--h1-font-size);
	} 
	to {
		color: var(--green-text-color);
		font-size: var(--bigger-h1-font-size);
	}
}

@keyframes losingPosition {
	from {
		color: black;
		font-size: var(--h1-font-size);
	} 
	to {
		color: var(--red-text-color);
		font-size: var(--smaller-h1-font-size);
	}
}